@media (min-width: 0px) and (max-width: 768px) {

    /* Первая страница */
    .page1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menuPage1 {
    display: none;
    }
    #logoPage1{
    grid-column: 4 / span 3;
    grid-row: 2 / span 8 ;
    }
    .logoImage {
        width: 100%;
        height: 80%;
        object-fit: contain;

    }
    .h1Page1 {
    grid-row: 16;
    grid-column: 2;
    font-size: 6vw;
    }
    .h2Page1 {
    grid-row: 17 / span 3;
    grid-column: 2 /span 10  ;
    font-size: 6vw;
    }

/* Вторая страница */

.page2Main {
    display: none;
}
.logoPage2-2 {
    
    width: 50%;
    height: 100%;
    background-size: contain;
    background-image: url(./Img/page2hex.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 0%;
    left: 0%;
    filter: saturate(80%);
}
.h1Page2 {
    position: relative;
    left: -75%;
    top: 5%;
    font-size: 5vw;
}
.page2Article {
    text-align: justify;
    position: relative;
    top: 25%;
    color: white;
    font-family: century school-book;
    font-weight: 400;
    font-size: 4vw;
    padding-left: 0%;
    margin-right: 0%;
}
.p2ArtickePart1 {
    margin-top: -40%;
    left: -20%;
}
.p2ArtickePart2 {
    margin-top:20%;
    left: -15%;
}
.p2ArtickePart3 {
    margin-top:25%;
    left: 0%;
}
/* Третья страница */
.logoPage3-1 {
    display: none;
}
.logoPage3-2 {
    width: 300px;
    height: 200%;
    background-size: contain;
    background-image: url(./Img/page3hex.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 0%;
    left: -20%;
    filter: saturate(80%);
    z-index: 0;
}
.h1Page3 {
    font-size: 3.5vw;
    margin-left: -30%;

}

.page3Article {
    padding-left: 5%;
    font-size: 3vw;
    width: 85%;
    z-index: 1;
}

} /* Конец адаптива */