@media (min-width: 40px) and (max-width: 650px) {
    .page1Wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        top: auto;
        left: auto;
        margin-top: 5%;
    }
    .menu {display:none;}
    .title {
        top: auto;
        left: auto;
        margin-bottom: 5%;
        margin-right: 6%;
        font-size: 6vw;
    }
    .firstPageText {
        font-size: 4vw;
    }
}

@media (min-width: 650px) and (max-width: 820px) {
    .logo {
        width: 300px;
        height: 200px;
    }
    .menu {
        left: 35%;
        top: -50%;
    }
    .menu a {
        font-size: 1.2vw;
    }
}

@media (min-width: 820px) and (max-width: 1110px) {
    .logo {
        width: 350px;
        height: 250px;
    }
    .menu {
        left: 37%;
        top: -46%;
    }
    .menu a {
        font-size: 1.2vw;
    }
}

@media (min-width: 650px) and (max-width: 820px) {
    .logo {
        margin-left: -6%;
        margin-top: 8%;

    }
    .menu {
        left: 28%;
    }
}

