@media (min-width: 1280px ) {

    /* Вторая страница */
.page2Mobile {
    display: none;
}
}
@media (min-width: 1280px ) and (max-width: 1480px) {

    /* Вторая страница */
.page2Mobile {
    display: none;
}
/* Третья страница */
.page3Article {
    padding-left: 5%;
    font-size: 1.5vw;
}
}