@media (min-width: 40px) and (max-width: 540px) {
    .logo {
        left: -17%;
        top: 10%;
    }

    .menu {display:none;}
    .title {
        font-size: 6vw;
        left: 3%;
    }
    .firstPageText {
        font-size: 4vw;
    }
}
/* @media (min-width: 1024px) and (max-width: 1440px) {
.

.title {
    font-size: 35pt;
    top: 20%;
    left: 5%;
} */ */



/* @media (min-width: 767px) and (max-width: 1024px) {
.menu {
    display: none;
}
}
/* 646,550,418,391 iphone ce 375X667 */
@media (min-height: 400px) and (max-height: 800px) {
    .logo {
        left: -5%;
        top: 15%;
    }
    .title {
        font-size: 35pt;
        top: 20%;
        left: 5%;
    }
}