
.page2Mobile {
flex-direction: row;
display: flex;



}
.asideImg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -8%;
}
#imgUp {
    width: 90%;
    height: 30%;
    background-image: url(./Img/page2LeftUp.png);
}
#imgMiddle {
    width: 90%;
    height: 30%;
    background-image: url(./Img/page2LeftMiddle.png);
}
#imgDown {
    width: 90%;
    height: 30%;
    background-image: url(./Img/page2LeftDown.png); 
}
.plashka {
    display: flex;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 91%;
    top: 10%;
    width: 41%;
    height: 20%;
    background-color: rgba(240, 248, 255, 0.534);
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1vw;    
}

.h1Page2 {
    position: relative;
    left: -4%;
    top: 22%;
    font-size: 3vw;
}
.page2Article {
    text-align: justify;
    position: relative;
    top: 32%;
    color: white;
    font-family: century school-book;
    font-weight: 400;
    font-size: 2vw;
    padding-left: 15%;
    margin-right: 2%;
    text-shadow: 5px 5px 5px rgb(32, 32, 32);
}
.p2ArtickePart1 {
    margin-top: -3%;
}
.p2ArtickePart2 {
    margin-top: 3%;
}
.p2ArtickePart3 {
    margin-top: 3%;
}

.logoPage2-1 {
    
    width: 0%;
    height: 0%;
    background-size: contain;
    background-image: url(./Img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0%;
}
.logoPage2-2 {
    
    width: 100%;
    height: 67%;
    background-size: contain;
    background-image: url(./Img/page2hex.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 0%;
    left: 0%;

}
.p2MRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
/*     background-color: aliceblue; */
}
