.page4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.imgContainer4-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    
}
#left4 {
    width: 30%;
    height: 90%;
    background-image: url(./Img/page4Left.png);
    margin-left: 0%;
}
#middle4 {
    width: 30%;
    height: 90%;
    background-image: url(./Img/page4Middle.png);
    margin-left: 0%;
}

#right4 {
    width: 30%;
    height: 90%;
    background-image: url(./Img/page4Right.png); 
    margin-left: 0%;
}
.txtContainer4 {
    display: flex;
    width: 70%;
    height: 10%;
/*     margin-top: 0%; */
}
.page4Header {
    text-align: justify;
    color: white;    
    font-family: school-book;
    font-weight: 500;
    font-size: 2vw;
    text-shadow: 5px 5px 5px rgba(100, 96, 96, 0.5);
}
.imgContainer4-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: -5%;
    width: 80%;
    height: 40%;
    background-color: rgba(240, 248, 255, 0.3);
    padding-left: 1%;
    padding-top: 0%;
}
.page4Article {
    display: flex;
    align-items: center;
    text-align: justify;
    color: white;
    font-weight: 400;
    font-size: 1.3vw;
}
#plus5 {
    width: 15%;
}