
.logoPage3-1 {
    width: 500px;
    height: 25vh;
    background-size: contain;
    background-image: url(./Img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 6%;
    left: -30%;

}
.logoPage3-2 {
    width: 500px;
    height: 100%;
    background-size: contain;
    background-image: url(./Img/page3hex.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -10%;
}

#plus {
    width: 7%;

}
.page3Article {
    display: flex;
    align-items: center;
    justify-content: space-between
    text-align: justify;
    color: white;
    font-weight: 400;
    font-size: 1.3vw;

}
.page3 {
    width: 80%;
    height: 90%;
    justify-content: space-between;
}
.h1Page3 {
    font-size: 3vw;

}

