.page5Wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
/*     justify-content: space-around; */
/*     align-items: flex-start; */
    width: 100%;
    height: 100%;
    background-image: url(./Img/page5back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.imgContainer5 {
    display: flex;
    width: 100%;
    padding-left: 30%;
/*     background-color: rgba(255, 255, 255, 0.5); */

}
.logoPage5 {
    padding-left: 15%;
    position: relative;
    top: 17%;
    width: 500px;
    height: 200px;
    background-size: contain;
    background-image: url(./Img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.page5Header {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: justify;
    color: white;
    
    font-weight: 500;
    font-size: 3vw;
    text-shadow: 5px 5px 5px rgba(100, 96, 96, 0.5);
}
.txtContainer5 {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    display: flex;
    width: 70%;
    height: 63%;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 0%;
    left: 7%;
}
#page5txt {
    color: #4A545F;
    font-weight: 500;
}
