.page5 {
    background-image: url(./Img/page5back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.imgContainer5 {
    display: flex;
    width: 100%;
    padding-left: 30%;
/*     background-color: rgba(255, 255, 255, 0.5); */

}
.logoPage5 {
    grid-column: 17 / span 4;
    grid-row: 2 / span 4;
/*     width: 500px;
    height: 200px; */
    background-size: contain;
    background-image: url(./Img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}
#page5Header {
    grid-column: 5 /span 10;
    grid-row: 1;


}
.txtContainer5 {
    grid-column: 2 /span 14;
    grid-row: 4 / span 16;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
/*     width: 70%;
    height: 63%; */
    background-color: rgba(255, 255, 255, 0.7);

}
#page5txt {
    color: #4A545F;
    font-weight: 500;
}
