html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
/*     display: flex;
    flex-direction: column; */
} 
 
.sectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #777F87;
}

.articleMiddle {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #4A545F;
/*     z-index: 0; */
}

.sectionRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #777F87;
}


